.button {
  display: block;
  box-sizing: border-box;
  height: 40px;
  font-size: 10px;
  line-height: 9px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: @color-main-text;
  background-color: @color-button;
  border-radius: 30px;

}
