.footer__element-header {
  font-size: 14px;
  line-height: 12.6px;
  font-weight: bold;
  color: @color-main-text;

  &--hotline {
    color: @color-important;
  }
}

.footer__hotline-description {
  font-family: 'Pragmatica Book', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 14.4px;
  color: @color-gray;
}

.footer__hotline-email {
  font-family: 'Pragmatica Book', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 14.4px;
  color: @color-important;
  text-decoration: none;
}

.footer__text {
  font-size: 12px;
  line-height: 19.2px;
  font-weight: 300;
  color: #7f8085;

  &--price {
    color: @color-main-text;
  }
}

.footer__hotline-number {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: bold;
  color: @color-main-text;
}

.footer__price-value {
  font-weight: bold;
}

.footer__stocks-change {
  color: #46b900;
}

.footer__points {
  line-height: 14.4px;
  color: #7f8085
}

.footer__points-value {
  font-weight: bold;
  color: #7f8085;
}

.footer__portal-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 25.2px;
  color: @color-main-text;
  text-decoration: none;
}
