.news__list {
  margin: 0 auto;
  display: flex;
  list-style: none;
}

.news__title {
  font-family: 'Pragmatica Book', 'Helvetica', sans-serif;
  font-size: 13px;
  line-height: 18.2px;
  color: @color-main-text;
}

.news__date {
  font-weight: 300;
  line-height: 14.4px;
  color: #7f8085
}

.news__buttons-wrapper {
  width: 325px;
  margin: 0 auto;
}
