.upper-block {
  display: flex;
}

.upper-block__number {
  font-family: 'Pragmatica Book', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: bold;
  color: @color-main-text;
  background-color: @color-light-gray;
  border-radius: 50%;
}

.upper-block__services-list {
  display: flex;
  list-style: none;
}

.upper-block__service-link {
  font-weight: 300;
  line-height: 24.64px;
  color: @color-main-text;
  text-decoration: none;
}

.upper-block__search-input {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  color: @color-gray
}

.upper-block__user-name {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  color: @color-main-text;
}
